<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="https://justinjia2011-gitlab-io-justinjia2011-4f62282590eecdfd912072dfc.gitlab.io/" target="_blank">justinjia2011</a>
    </div>
  </div>
</footer>